/* .myGray{
    background-color: #343a40;
} */

/* div.myBody {
    width: 75%;
}

.no-background {
    background-color: transparent;
} */

.remove-gap {
    margin: 0;
    padding: 0;
}

.myDarkColor{
    background-color: #202c3c;

}

.myBG{
    background-color: #0b131e;

}